/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* index.html */
body{
    font-family: "Open Sans", sans-serif;
    background-color: dodgerblue;
}


/* estilos del header */
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    background-color: #a0a0a0;
    cursor: default
}


/* buscador */
.buscador input{
    padding: 8px 12px;
    position: relative;
    justify-content: center;
}

/* logo */

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.logo{
    width: auto;
    display: inline-block;
    padding-left: 10px;
    text-align: start;
}

.logo img{
    display: block;
    width: 90px;
    height: auto;
}

/* menu */

.menu{
    flex: 1;
    width: 100%;
    margin-top: -40px;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.menu li a{
    text-decoration: none;
    color: #900;
    font-weight: bold;
    
}

/* main */

main section div h1{
    text-align: center;
    text-decoration: underline;
}

main {
    text-align: center;
    
}
/* productos del index */

.productos-uno{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "imagen-uno imagen-dos imagen-tres"
    "imagen-uno imagen-dos imagen-tres";
    gap: 20px;
    justify-items: center;
    margin: 30px auto;
    max-width: 1200px;
}

.imagen-uno{
    grid-area: imagen-uno;
}

.imagen-dos{
    grid-area: imagen-dos;
}

.imagen-tres{
    grid-area: imagen-tres;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #a0a0a0;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card a{
    color: #900;
    text-decoration: none;
}

.social li{
    list-style: none;
    text-align: right;
}

/* productos.html */
.pagina2 h1 {
    color: #900;
    text-decoration: underline;
    
}


    
    


    


